@model IEnumerable<Edux.Models.Parameter>

@{
    ViewData["Title"] = "Editor";
    Layout = null;
}
<br />
<fieldset>
    <legend>Parametreler:</legend>
    <div style="border:1px solid #cccccc; border-top-width:0px; padding:5px;">
    @foreach (var parameter in Model)
    {
        @switch (parameter.ParameterType)
            {
                case ParameterType.TextArea:

            <div class="form-group">
                <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                <div class="col-md-10">
                    <textarea name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</textarea>
                </div>
            </div>
                break;

            case ParameterType.Tel:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")>
                    </div>
                </div>
                break;

            case ParameterType.Email:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Number:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Hidden:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Password:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;


        }

    }
        </div>
</fieldset>