@model IEnumerable<Edux.Models.Parameter>

@{
    ViewData["Title"] = "Editor";
    Layout = null;
}
<br />
<fieldset>
    <legend>Parametreler:</legend>
    <div style="border:1px solid #cccccc; border-top-width:0px; padding:5px;">
    @foreach (var parameter in Model)
    {
        @switch (parameter.ParameterType)
            {
                case ParameterType.TextArea:

            <div class="form-group">
                <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                <div class="col-md-10">
                    <textarea name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</textarea>
                </div>
            </div>
                break;


            case ParameterType.SelectMultiple:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <select multiple name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</select>
                    </div>
                </div>
                break;

            case ParameterType.TreeView:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <textarea name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</textarea>
                    </div>
                </div>
                break;

            case ParameterType.SelectDataTable:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <select name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</select>
                    </div>
                </div>
                break;

           

            case ParameterType.SelectForm:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">

                        <form action="" id="@parameter.Name">
                          @parameter.DisplayName: <input type="text" name="fname">
                            <input type="submit">
                        </form>


                        <select name="@parameter.Id" id="@parameter.Name" form="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</select>
                    </div>
                </div>
                break;

            case ParameterType.SelectPage:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <select name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</select>
                    </div>
                </div>
                break;



            case ParameterType.Media:


                break;

            case ParameterType.TimePicker:
                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="time" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "") value="@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")"/>
                    </div>
                </div>
                break;

            case ParameterType.Text:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="text" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "") value="@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")" />
                    </div>
                </div>
                break;

            case ParameterType.Html:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <textarea name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</textarea>
                    </div>
                </div>
                break;

            case ParameterType.Select:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <select name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")</select>
                    </div>
                </div>
                break;

            case ParameterType.Checkbox:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="checkbox" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "") value="@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")" />
                    </div>
                </div>
                break;

            case ParameterType.Tel:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId)!=null?parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value:"")>
                    </div>
                </div>
                break;

            case ParameterType.Email:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Number:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Hidden:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;

            case ParameterType.Password:

                <div class="form-group">
                    <label for="@parameter.Name" class="col-md-2 control-label">@parameter.DisplayName</label>
                    <div class="col-md-10">
                        <input type="tel" value="@parameter.Id" name="@parameter.Id" id="@parameter.Name" class="form-control" @(parameter.IsRequired ? "required" : "")>@(parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId) != null ? parameter.ParameterValues.FirstOrDefault(v => v.ComponentId == (string)ViewBag.ComponentId).Value : "")>
                    </div>
                </div>
                break;


        }

    }
        </div>
</fieldset>