@model IEnumerable<Edux.Models.Property>

@{
    ViewData["Title"] = "Ozellikler";
}

<h2>Özellikler</h2>

<p>
    <a asp-action="Create">Yeni Olustur</a>
</p>
<table class="table"  id="tblRecords" >
    <thead>
        <tr>
                <th class="text-nowrap all">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.DataType)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.IsRequired)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.PropertyType)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.StringLength)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AppTenantId)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Entity)
            </th>
            <th data-orderable="false" class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppTenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity.Id)
            </td>
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-success">Ayrıntılar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
